<div class="main">
	This is a basic (and unpractical) memo app. You may want to open this app in another tab to see how nCombo synchronizes sessions across all open tabs.<br />
	Close all tabs and leave them closed for 5 seconds to destroy the session and all related data.<br />
	<br />
	Once you add a note to the table below, you can share it with the chat app ( <a href="http://ncombo.com:8000">http://ncombo.com:8000</a> ). 
	nCombo allows you to do this with a single line of code.<br />
	<br />
	<br />
	<div class="notes-view"></div><br />
	<input type="button" class="add-note-btn" value="Add Note" />
</div>